<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>

  <!--配置初始化参数-->
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:applicationContext.xml</param-value>
  </context-param>

  <!--
        目的让form表单支持put delete请求,
        步骤
          配置HiddenHttpMethodFilter
          form表单使用post请求方式,并且携带一个名字为_method的参数值为delete put
      -->
  <filter>
    <filter-name>restfulFilter</filter-name>
    <filter-class>org.springframework.web.filter.HiddenHttpMethodFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>restfulFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>



  <!--加载applicationContext.xml-->
  <!--监听项目启动事件,也就是当项目启动之后里面的代码会触发,里面会加载一个初始化参数为contextConfigLocation的值创建一个spring容器-->
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <!--配置一个servlet,当该servlet被创建的时候会加载spingMVC的配置文件创建springMVC容器-->

  <servlet>
    <servlet-name>dispatcherServlet</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

    <!--指定springMVC的配置文件-->
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>classpath:springMVC.xml</param-value>
    </init-param>

  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcherServlet</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

</web-app>