<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.neu.edu.mapper.ExampaperMapper">

    <select id="findBySelection" resultType="ExampaperVO" parameterType="ExampaperDTO">
        SELECT e.course_id, e.title_id, q.title, q.score
        FROM t_exampaper_detail e
                 JOIN t_question q ON e.title_id = q.question_id
        WHERE e.course_id = subject_id
        ORDER BY e.course_id ASC, e.title_id ASC;
    </select>

    <insert id="add" parameterType="exampaperVO">
        insert into t_exampaper_detail(course_id,title_id)
        select #{course_id},#{title_id}
        from dual
        where not exists(
            select * from t_exampaper_detail
            where course_id = #{course_id}
              and title_id = #{title_id}
        )
    </insert>

    <delete id="deleteById" parameterType="int">
        delete from t_exampaper_detail
        where title_id = #{title_id}
    </delete>

</mapper>